header {
  padding: 20px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

#imageContainer {
  display: flex;
  justify-content: center;
}

img {
  width: 200px;
  height: 200px;
  margin: 10px;
}
